<h2>Latest gifs</h2>
<div id="gifs">
	<% @gifs.each do |gif| %>
		<div style="display: inline-block; margin: 1em">
			<img src="/gif/<%= gif[:name] %>"/>
			<br>
			<em>by <%= gif[:user] %></em>
		</div>
	<% end %>

</div>

<hr>

<%= pagination_links_full @pages, @count %>